*{
	cursor: none;
	box-sizing: border-box;
}
:root{
	--backgroundcolor:#FAFAFA;
	--backgroundgradient:#D8D8D8;
	--iconnotselected:#7D7D7D;
	--iconhover:black;
	--text:black;
	--shadowcolor:#7D7D7D;
}
@font-face {
    font-family: 'Calibre';
    src: local('Calibre Light'), local('Calibre-Light'),
        url('Calibre-Light.woff2') format('woff2'),
        url('Calibre-Light.woff') format('woff'),
        url('Calibre-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

body{
	padding:0;
	margin: 0;
	font-family: sans-serif;
	background-image: linear-gradient(transparent 92%,var(--backgroundgradient));
	background-color: var(--backgroundcolor);
	transition: all 1s;
}
.cursor{
	width: 10px;
	height: 10px;
	top:0;
	left: 0;
	z-index: 99999999;
	border-radius: 50%;
	position: absolute;
	background-color: black;
	transition: height 0.3s,width 0.3s;
}
.cursor-big{
	width: 75px;
	height: 75px;
	opacity: 0.85;
}
.cursor-big::before{
	content: "view\aproject";
	font-size:20px;
	font-family: 'Calibre';
	font-weight: bold;
  	display: block;
	text-align: center;
	vertical-align: center;
	transform: translateY(22%);
}

::-moz-selection { /* Code for Firefox */;
  background: #FCDF3D;
}

::selection {
  background: #FCDF3D;
}
/*--------------------------------------------------frontpage----------------------------------*/
#topbar{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
}
#logo{
	width: 60px;
	height: 60px;
	background-image: url("asset/logodark.png");
	background-size: contain;
	float: left;
	cursor: none;
}
#topbar i{
	color: var(--iconnotselected);
	float: right;
	font-size: 25px;
	margin-left: 50px;
	margin-top:25px;
	cursor: none;
	transition: all 0.7s;
	transition-timing-function: cubic-bezier(0, 0.55, 1, 2.15);
}
#topbar i:hover{
	color: var(--iconhover);
}
#intro{
	margin-left: 100px;
	padding-top: 100px;
	width: 50%;
}
#intro h1{
	color: var(--text);
	clear: both;
	font-size: 50px;
	margin-bottom: 100px;
}
#avatar{
	width: 50px;
	height: 50px;
	background:url('asset/avatar.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin: auto;
	margin-top: 5px;
	cursor: none;
}
#outerradi{
	border:solid 1px var(--iconnotselected);
	height: 60px;
	width: 60px;
	border-radius: 50%; 
	padding: 0;
	margin-right: 20px;
	float: left;
}
#mail{
	display: inline;
	font-size: 15px;
	color: var(--iconnotselected);
	font-weight: 400;
	position: relative;
	top: 10px;
}
#email{
	display: inline;
	font-size: 20px;
	font-weight: 400;
	color: var(--iconnotselected);
	position: relative;
	top: 10px;
	transition: all 0.7s;
	transition-timing-function: cubic-bezier(0, 0.55, 1, 2.15);
}
#email:hover{
	color: var(--iconhover);
	cursor: none;
}
/*--------------------------------------------------background----------------------------------*/
#background{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 200px;
}
#background h2{
	float: left;
	margin: 0;
	padding: 0;
	color: var(--text);
	text-decoration: underline #F7C94B;
	font-size: 20px;
	font-weight: 400;
}
#background p{
	color: var(--text);
	font-size: 24px;
	width: 80%;
	float: right;
	font-family: 'Calibre';
	margin: 0;
	padding: 0;
}
.furtherlink{
	clear: both;
	margin-left: 20%;
	font-size: 20px;
	margin-bottom: 200px;
	transition: all 0.7s;
	transition-timing-function: cubic-bezier(0, 0.55, 1, 2.15);
	cursor: none;
	color: var(--iconhover);
}
.furtherlink:hover{
	color:var(--iconnotselected);
}
/*-------------------------------------------projects---------------------------------*/

#projects{
	margin-left: 100px;
	margin-right: 100px;
	position: relative;
}
#project-heading{
	width: 15%;
	display: inline-block;
	vertical-align: top;
	position: sticky;
	top: 100px;
	height: auto;
}
#project-right{
	width: 84%;
	position: relative;
	display: inline-block;
}
#projects h2{
	color: black;
	margin: 0;
	padding: 0;
	text-decoration: underline #F7C94B;
	font-size: 20px;
	font-weight: 400;	
}
.project-section{
	width: 100%;
	display: inline-block;
	height: 180vh;
}
.project-content{
	width: 30%;
	display: inline-block;
	margin-top: 33vh;
	vertical-align: top;
	font-family: 'Calibre';
	font-size: 20px;
}
.project-image{
	width: 69%;
	height: 100vh;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;
	position: sticky;
	top: 100px;
}
.project-content span{
	border-radius: 20px;
	margin-right: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 0px;
	font-size: 17px;
}
#myhostelapp .project-image{
	background-image: url('asset/hostelapp.png');
}
#myhostelapp span{
	background-color: #40D6C8;
}
#newsapp .project-image{
	background-image: url('asset/newsapp.png');
}
#newsapp span{
	background-color: #D598CF;
}
#tasto .project-image{
	background-image: url('asset/tasto.png');
}
#tasto span{
	background-color: #8B7BD8;
}
#atmo .project-image{
	background-image: url('asset/atmo.png');
	height: 70vh;
}
#atmo span{
	background-color: #FFB7C3;
}

/*--------------------------------------------------------blogs-------------------------------------*/
#blogs{
	margin-left: 100px;
	margin-right: 100px;
}
#blogs h2{
	color: var(--text);
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	text-decoration: underline #F7C94B;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 100px;
}
#blogs i{
	float: right;
	font-size: 25px;
	margin-left: 50px;
	cursor: none;
	transition: all 0.7s;
	transition-timing-function: cubic-bezier(0, 0.55, 1, 2.15);
}
.fa-th-large{
	color: var(--iconhover);
}
.fa-th-list{
	color: var(--iconnotselected);
}
.selectedicon{
	color: var(--iconhover);
}
.notselectedicon{
	color: var(--iconnotselected);
}
.blogimage{
	position: relative;
	bottom: 0px;
	height: 42vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 30px 100px -20px var(--shadowcolor);
	transition: all 0.5s;
	cursor: none;
}
.blogimagelist{
	width: 50%;
}
.blogimage:hover{
	position: relative;
	bottom: 3px;
	box-shadow: 0px 40px 80px 0px var(--shadowcolor);
}
#blogs h3{
	font-family: serif;
	font-size: 1.4em;
	margin-top: 30px;
	margin-bottom: 0;
	padding-bottom: 0;
	color: var(--text);
	cursor: none;
	transition: all 0.5s;
}
.blogtitlelist{
	float:right;
	position: relative;
	bottom: 200px;
}
#blogs h3:hover{
	color: #0C71E0;
}
#blogs h4{
		margin-top: 5px;
	    padding-top: 0;
	    margin-bottom: 50px;
	    color: var(--iconnotselected);
}
.blogsubtitlelist{
	float:right;
	clear: right;
	position: relative;
	bottom: 200px;
}
.blog1tile{
	width: 58.5%;
	float: left;
	clear: left;
	position: relative;
}
.blog1list{
	width: 100%;
	float: left;
	clear: left;
}
#blog1 .blogimage{
	background-image: url("asset/blogs/flutter.jpg");
}
.blog2tile{
	width: 39%;
	float: right;
	clear: right;
}
.blog2list{
	width: 100%;
	float: left;
	clear: left;
}
#blog2 .blogimage{
	background-image: url("asset/blogs/arrayfunc.jpg");
}
.blog3tile{
	width: 39%;
	float: left;
	clear: left;
}
.blog3list{
	width: 100%;
	float: left;
	clear: left;
}
#blog3 .blogimage{
	background-image: url("asset/blogs/eventc.jpg");
}
.blog4tile{
	width: 58.5%;
	float: right;
	clear: right;
}
.blog4list{
	width: 100%;
	float: left;
	clear: left;
}
#blog4 .blogimage{
	background-image: url("asset/blogs/csstricks.jpg");
}
/*--------------------------------------------------bottombar------------------------------------*/
#bottombar{
	margin-left: 100px;
	margin-right: 100px;
}
#spacer{
	clear: both;
	height: 100px;
	width: 100%;
}
#line{
	height: 1px;
	background-color: #BCBEC2;
	width: 100%;
	clear: both;
}
#bottombar h3{
	color: var(--iconnotselected);
	margin-top: 50px;
	font-family: 'Calibre';
	padding-bottom: 80px;
}
#bottombar i{
	color:var(--iconnotselected);
	font-size: 20px;
	margin-top: 20px;
	margin-right: 20px;
	cursor: none;
    transition: all 0.7s;
	transition-timing-function: cubic-bezier(0, 0.55, 1, 2.15);
	float: right;
	position: relative;
	bottom: 10px;
}
#bottombar i:hover{
	color: var(--iconhover);
}
/*---------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------ABOUT PAGE---------------------------------------------------------------------------------*/
#aboutspacer{
	height: 100px;
}
#aboutphoto{
	height: 200px;
   	width: 200px;
   	clear: both;
   	background-size: cover;
	background-image: url('asset/avatarcolor.jpg');
	border-radius: 50%;
	box-shadow: 0px 0px 50px 5px var(--shadowcolor);
	text-align: center;
	margin-left: 43%;
}
#aboutlink{
	clear: both;
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	padding-left: 300px;
	padding-right: 300px;
	margin-bottom: 100px;
}
#aboutpara{
	text-align: center;
	font-size: 40px;
	margin-top: 50px;
	font-weight: 600;
	color: var(--text);
}
#aboutlink i{
	color:var(--iconnotselected);
	font-size: 30px;
	cursor: none;
    transition: all 0.7s;
	transition-timing-function: cubic-bezier(0, 0.55, 1, 2.15);
	float: right;
}
#aboutlink i:hover{
	color: var(--iconhover);
}
	/*----------------------------------this section is view all project-------------------------------------*/
#viewAll{
	height: 100vh;
	width: 100vw;
	background-color: rgba(1,1,1,0.6);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 4;
	display:none;  
}
#viewAllwhitepart{
	width: 70vw;
	height: 70vh;
	background-color: var(--backgroundcolor);
	z-index: 6;
	margin:15vh auto;
	overflow: auto;
	position: relative;
}
#viewAllwhitepart i{
	float: right;
	font-size: 35px;
	margin-top: 5px;
	margin-right:12px;
	cursor: none; 
}
.projectviewall{
	clear: both;
	margin-top: 40px;
	padding: 20px;
}
.projectviewallimage{
	width: 300px;
	height: 180px;
	background-color: dodgerblue;
	float: left;
	margin-right: 20px;
	margin-left: 40px;
	margin-bottom: 40px;
}
.projectviewall p{
	margin: 0;
	color: var(--text);
	font-family: 'Calibre';
	font-size: 24px;
}
.projectviewall i{
	color:var(--iconnotselected);
	font-size: 35px;
	padding-right: 30px;
	cursor: none;
    transition: all 0.7s;
	transition-timing-function: cubic-bezier(0, 0.55, 1, 2.15);
}
.projectviewall i:hover{
	color: var(--iconhover);
}
#pic1{
	background-image: url('asset/viewall/1.jpg');
	background-size:cover;
}
#pic2{
	background-image: url('asset/viewall/2.jpg');
	background-size:cover;
}
#pic3{
	background-image: url('asset/viewall/3.jpg');
	background-size:cover;
}
#pic4{
	background-image: url('asset/viewall/4.png');
	background-size:cover;
}
#pic5{
	background-image: url('asset/viewall/5.png');
	background-size:cover;
}
#pic6{
	background-image: url('asset/viewall/6.jpg');
	background-size:cover;
}
#pic7{
	background-image: url('asset/viewall/7.jpg');
	background-size:cover;
}
	/*----------------------------------this section is view all project-------------------------------------*/



